body{
	background: platinum;
	width: 900px;
	margin: 0 auto;
}

header {
	margin-top: 25px;
}


nav {
	display: inline-block;
}

p:first-letter{
font-size: 80px;
float: left;
color: lightgrey;
border-top: 40px;

}

div {
	 border-bottom: 1px solid lightgrey;
	 margin-top: 80px;
}

p{
	font-family: 'Lato', sans-serif;
 	font-weight: 300;
 	clear: both;
 	width: 900px;
 	line-height: 150%;
 	letter-spacing: 110%;
 	font-size: 18px;

}

h1 {
	font-family: 'Lato', sans-serif;
 	font-weight: 300;
 	color: crimson;
 	font-size: 60px;
 	margin-bottom: 0px;
 }

h2	{
	font-family: 'Lato', sans-serif;
 	font-weight: 300;
 	color: black;
 	font-size: 30.5px;
 	margin-top: 10px;
 }

h3	{
font-family: 'Lato', sans-serif;
 	font-weight: 300;
 	color: lightgray;
 	font-size: 35px;
 	margin-top: 60px;
}

a.title {
	font-family: 'Lato', sans-serif;
 	font-weight: 300;
 	color: black;
 	font-size: 35px;
 	margin-top: 0px;
 	text-decoration: none;
}

h4	{
	float: right;
}

a.cont {
	color: red;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
 	font-weight: 700;
 	font-size: 18px;
}

a.grey {
	font-family: 'Lato', sans-serif;
 	font-weight: 300;
 	color: lightgrey;
 	font-size: 25px;
 	margin-top: 10px;
 	margin-right: 25px;
 	line-height: 100%;
}

.redFoot {
	text-decoration: none;
	color: crimson;
	font-family: 'Lato', sans-serif;
 	font-weight: 300;
 	font-size: 18px;
 	margin-right: 25px;
}

footer {
	height: 150px;
	padding-top: 60px;
}
